<!DOCTYPE html>
<html>

<head>
    <title>Thai Mobility</title>

    <meta property="fb:app_id" content="{{ fbAppId }}" />
    <meta property="og:type" content="{{ type }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ imageUrl }}" />

</head>

<body>
    Demo Share Link
</body>

</html>